@{
    Layout = null;
}


<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@ViewData["Name"]</h5>
    <p class="card-text">@ViewData["Comment"]</p>
  </div>
</div>
